* {
  box-sizing: border-box;
}

html {
  max-width: 1000px;
  margin: auto;
  font-family: sans;
  margin-top: 60px;
  color: #333;
  background-color: #fefefe;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.url {
  /* border: 1px solid black; */
  padding: 10px;
  text-align: center;
}

.url a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.url .link-image {
  height: 130px;
  width: 130px;
  margin: auto;
  /* border: 1px solid black;*/
  margin-bottom: 12px;
  border-radius: 15px;
  background-color: black;
}

.link-image {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  justify-content: space-around;
  font-weight: normal;
  font-size: 70px;
}

.link-image img {
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}

.link-image.redbaron {
  background-color: #C92122;
}

.link-image.rtfd {
  background-color: #1C4E63;
}

.link-image.wxcafe {
  background-color: #444B5D;
}

.link-image.mochi {
  -webkit-text-stroke: 1px #999;
  background-color: #FDE4ED;
  font-weight: bold;
}

.link-image.cbc {
  background-color: #C63131;
}
